<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>レイド詳細</title>
  </head>
  <body>
    <h1><%= @pokemon.name %></h1>
    <table>
      <tbody>
        <tr>
          <td><%= @raid.date %></td>
          <td><%= @place.name %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
