<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="addPoke.css">
		<title>TkmtLabGO</title>
	</head>
	<body>
		
		
		<div class="pokemon">
		<h1>ポケモン登録</h1>
		<h1>ポケモン一覧</h1>
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
				<thead>
				<tr>
				 <th>番号</th>
				 <th>ポケモン</th>
				 <th>レイドレベル</th>
				</tr>
				</thead>
				</table>
	  
			</div>

	
            <div class="tbl-content">
		    <!--番号、ポケモン、レイドレベルの情報を受け取るよ-->     
          	<table cellpadding="0" cellspacing="0" border="0">
			 <tbody>
             <tr>
		     <td>1</td>
		     <td>フシギダネ </td>
		     <td>1</td>
		     </tr>
		     <tr>
	         <td>2</td>
		     <td>フシギソウ</td>
		     <td>2</td>
		     </tr>
		     <tr>
	         <td>3</td>
		     <td>フシギバナ</td>
		     <td>4</td>
		     </tr>
		     <tr>
		     <td></td>
		     <td></td>
		     <td></td>
		     </tr>
		     <tr>
		     <td></td>
		     <td></td>
		     <td></td>
		     </tr>
		     </tbody>
	        </table>
	        </div>

	</div>
	</body>
</html>