<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TkmtGO</title>
<link href="css/participation.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
  <div id="header">
    <h1>TkmtGO</h1>
    <!--<p>レイドの参加者を募集中</p>-->
  </div>
  <div id="maincontent">
    <div id="comment">
      <p>参加者募集!!</p>
    </div>
    <div class="information">
      <h2>ギラティナ(アナザーフォルム)</h2>
      <h4><img src="picture/test.jpg" width="209" height="210" alt="" /></h4> <!--ここにギラティナの画像-->
      <!--<h3>参加者</h3>
      <p>arus-winter</p>-->
      <div class="float-clear"></div>
      <input type="button"value="あ">
      <input type="button"value="い">
      <input type="button"value="う">
      <!--<h5>参加ボタン</h5>-->
    </div>
  </div>
  <div id="sidecontents">
    <div class="box_title">参加状況</div>
    <div class="box_scrollbar">
      <div class="test"><h7>あ</h7></div>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <p>arus-winter</p>
      <div class="test"><h7>い</h7></div>
      <p>jau5</p>
      <div class="test"><h7>う</h7></div>
      <p>tuboniki</p>
    </div>
  <div class="float-clear"></div>
</div>
</body>
</html>
