<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>TkmtLabGO</title>
  </head>
  <body>
    <div class="menu">  
      <ul id="mainmenu">
        <li id="menu0">  <img src="logo.png" height="70px"></li>
        <li id="menu1">
          <img src="monbo.png" height="50px" width="50px">
           図鑑</li>
        <li id="menu2">
          <img src="houou.png"height="60px">
          色違いマウント</li>
        <li id="menu3">
          <img src="settei.png" height="50px">
          なんか</li>
      </ul>
      </div>
  
    
     
    <div class="center">
     
    
     
    </div>
    
   
    
    <div class="right">

      <div class="rightdiv">
        <!-- ログインしている人 -->
        <img class="icon" src="./picture/pikatyu.png">lightning オンライン
        <br><br>
        <a href="#" class="btn-square-pop">オフライン</a>
        <a href="#" class="btn-square-pop">オンライン</a>
      </div>

      <div class="rightdiv">
        <h3>-オンライン-</h3>
        <ul id="online"><!-- オンラインの人一覧 -->
          <!-- 1ユーザーに対して<li>タグで画像とID名を表示する -->
          <li> <img class="icon" src="utsumi.jpg">intirayami4545</li>
        </ul>
      </div>
      <div class="rightdiv">
        <h3>-オフライン-</h3>
        <ul id="ofline"><!-- オフラインの人一覧 -->
          <li> <img class="icon" src="hirata.jpg">goyokuwagata</li>
        </ul>
      </div>

    </div>
  </body>
</html>
