<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>TkmtLabGO</title>
  </head>
  <body>
    <div class="menu">  
      <ul id="mainmenu">
        <li id="menu0">  <img src="logo.jpg" height="70px"></li>
        <li id="menu1">
          <img src="monbo.jpg" height="50px" width="50px">
           図鑑</li>
        <li id="menu2">
          <img src="houou.png"height="60px">
          色違いマウント</li>
        <li id="menu3">
          <img src="settei.png" height="50px">
          なんか</li>
      </ul>
      </div>
  
    <div class="left">
     <a href="participation.html">
     <img class="chage" src="chage.jpg" width="200px" height="200px"></a>
      
          レイド出撃
      
    </div>
     
    <div class="center">
     
    
      <img src="center.jpg" width="850px" height="850px">
    </div>
    
   
    
    <div class="right">
      <h1>-オンライン-</h1>
      <h2>-水上研-</h2>
        <ul id="minakami">
          <li id="on"> <img class="icon" src="hirata.jpg">goyokuwagata</li>
          
        </ul>
      
      <h2>-SS研-</h2>
        <ul id="SS">
          <li id="off"> <img class="icon" src="utsumi.jpg">intiraymi4545</li>                   </ul>
      <h1>-オフライン-</h1>
    </div>
  </body>
</html>
