<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>TkmtLabGO</title>
    <script type="text/javascript">
     <!--function winopen(){
      var MainWin=window.open("main.htm","MyWebSite","width=1300, height=400, statusbar=1, location=1, menubar=1, toolbar=1, resizable=0, scrollbars=1");}//-->
    </script>
  </head>
  <body>
    <div class="menu">  
      <ul id="mainmenu">
        <li id="menu0">  <img src="logo.png" height="70px"></li>
        <li id="menu1">
          <img src="monbo.png" height="50px" width="50px">
           図鑑</li>
        <li id="menu2">
          <img src="houou.png"height="60px">
          色違いマウント</li>
        <li id="menu3">
          <img src="settei.png" height="50px">
          設定</li>
      </ul>
      </div>
  
    
      <div class="under"> 
       <div class="center">
           <h1>Raid Table</h1>
	       <div class="tbl-header">
		<table cellpadding="0" cellspacing="0" border="0">
		 <thead>
		  <tr>
		   <th>Pokemon</th>
		   <th>Place</th>
		   <th>Time</th>
		  </tr>
	         </thead>
	        </table>
	       </div>

            <div class="tbl-content">
		    <!--ポケモン、場所、時間のレイド情報を受け取るよ -->    
          	<table cellpadding="0" cellspacing="0" border="0">
		  <tbody>
            	    <tr>
		     <td>ダークライ</td>
		     <td>ムルデル </td>
		     <td>14：30</td>
		    </tr>
		    <tr>
	             <td>ギラティナ</td>
		     <td>福の神</td>
		     <td>15:45</td>
		    </tr>
		    <tr>
	             <td></td>
		     <td></td>
		     <td></td>
		    </tr>
		    <tr>
		     <td></td>
		     <td></td>
		     <td></td>
		    </tr>
		    <tr>
		     <td></td>
		     <td></td>
		     <td></td>
		    </tr>
		  </tbody>
	         </table>
	        </div>
    	   </div>
    
   
    
    <div class="right">

      <div class="rightdiv">
        <!-- ログインしている人 -->
        <img class="icon" src="./picture/pikatyu.png">lightning
        <a href="#" class="btn-square-pop">ログアウト ></a><!-- ログアウトした後のページはログイン画面かな？ -->
      </div>

      <div class="rightdiv">
        <h3>-オンライン-</h3>
        <ul id="online"><!-- オンラインの人一覧 -->
          <!-- 1ユーザーに対して<li>タグで画像とID名を表示する -->
          <li> <img class="icon" src="utsumi.jpg">intirayami4545</li>
        </ul>
      </div>
      <div class="rightdiv">
        <h3>-オフライン-</h3>
        <ul id="ofline"><!-- オフラインの人一覧 -->
          <li> <img class="icon" src="hirata.jpg">goyokuwagata</li>
        </ul>
      </div>

    </div>
      </div>
  </body>
</html>
