<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UTF-8”>
    <!-- cssファイルの指定 -->
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <!-- jqueryの読み込み これを入れるとよく使うjsが書きやすくなる -->
    <script type="text/javascript" src="js/jquery/jquery-3.4.1.min.js"></script>
    <!-- 自分で書いたjsファイル -->
    <script type="text/javascript" src="js/login/mozihen.js"></script>
    <title>レイド画面</title>
  </head>
  <body>
    <div id="oowaku">
        <h1>レイド画面</h1>
        <table align="center">
        <tr>
         <td>ポケモン：</td>
         <td><input type=text name="pokemon"></td>
        </tr>
        <tr>
         <td>時間：</td>
         <td><input type=text name="time"></td>
        </tr>
        <tr>
         <td>場所：</td>
         <td><input type=text name="locate"></td>
        </tr>
        <tr>
         <td>備考：</td>
         <td><input type=text name="bikou"></td>
        </tr>
        </table>  
        <input type="button" onclick="location.href='login.html'" value="遷移">
        <p id="test"><a href="javascript:;">idセレクタで指定をしています。ココをクリックすると文字が変更されます</a></p>
    </div>
        
  </body>
</html>