<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UTF-8”>
    <title>レイド画面</title>
  </head>
  <body>
    <div id="oowaku">
        <h1>レイド画面</h1>
        <table>
        <tr>
         <td>ポケモン：</td>
         <td><input type=text name="pokemon"></td>
        </tr>
        <tr>
         <td>時間：</td>
         <td><input type=text name="time"></td>
        </tr>
        <tr>
         <td>場所：</td>
         <td><input type=text name="locate"></td>
        </tr>
        <tr>
         <td>備考：</td>
         <td><input type=text name="bikou"></td>
        </tr>
        </table>  
        <input type="button" onclick="location.href='login.html'" value="遷移">
        <p id="test"><a href="javascript:;">idセレクタで指定をしています。ココをクリックすると文字が変更されます</a></p>
    </div>

    <section class="early">

      <article>
         <p class="example-right">Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text Your scrolling text goes here Your scrolling text goes here </p>
      </article>
      <article>
          <p class="example-left">Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your</p>
        
         <p class="example-right">Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text Your scrolling text goes here Your scrolling text goes here </p>
        
        </article>
      
      
      <article>
      <marquee behavior="scroll" direction="left">Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here</marquee>
      
      <marquee behavior="scroll" direction="right">Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here </marquee>
      </article>
      
        <article>
          <p class="example-left">Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your scrolling text goes here Your</p> 
        </article>
        </section>
        
  </body>
</html>