<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UTF-8”>
    <!-- cssファイルの指定 -->
    <link rel="stylesheet" type="text/css" href="css/raid.css" />
    <!-- jqueryの読み込み これを入れるとよく使うjsが書きやすくなる -->
    <script type="text/javascript" src="js/jquery/jquery-3.4.1.min.js"></script>
    <!-- 自分で書いたjsファイル -->
    <script type="text/javascript" src="js/raid/raid.js"></script>
    <title>場所登録画面</title>
  </head>
  <body>
      <div class="bg-image"><div class="bg-mask">
        <h1>
            <img src="./picture/nixyutu.png" width=20% height=20% style="float:left;">
            場所登録画面
            <img src="./picture/nixyutu.png" width=20% height=20% style="float:right;">
          </h1>
        <table align="center">
        <tr>
         <td>場所：</td>
         <td><input class=textran type=text name="pokemon" placeholder="(必須)" id="pokemon"></td>
        </tr>
        </table>  
        <input type="button" onclick="seni2()" value="Register!" class="btn-square-shadow">

  </div></div>
        
  </body>
</html>